<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="mat-elevation-z8" style="background-color: #3F51B5;color:white;">Kategoriler</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/kategori',kat.KategoriId]" *ngFor="let kat of kategoriler">{{kat.KategoriAdi}}
        ({{kat.KatMakaleSay}})</a>


    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/']">Son sorular</span>
      <span class="spacer"></span>


      <button mat-button [routerLink]="['/login']" *ngIf="!apiServis.oturumKontrol()">Oturum Aç</button>
      <button mat-button [routerLink]="['/register']" *ngIf="!apiServis.oturumKontrol()">Kayıt Ol</button>
      <button mat-button (click)="Ekle()" *ngIf="apiServis.oturumKontrol()">Makale Yaz</button>
      <button mat-button (click)="OturumKapat()" *ngIf="apiServis.oturumKontrol()">Oturumu Kapat</button>
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Admin Menü" *ngIf="apiServis.yetkiKontrol(['Admin'])">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
       
        <button mat-menu-item [routerLink]="['/admin/kategori']">Kategoriler</button>
        <button mat-menu-item [routerLink]="['/admin/makale']">Makaleler</button>
        <button mat-menu-item [routerLink]="['/admin/uye']">Uyeler</button>

      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="padding:50px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>